*{
    margin: 
    0px;
    padding: 
    0px;
    box-sizing: 
    border-box;
}
body{ 
 font-family: "Marhey", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
background-image: url("semsem1.png");
background-size: 10%;
display: flex;
justify-content: center;
align-items: center;
height: 100vh
}
.content{
backdrop-filter: blur(8px);
    background-color: transparent;
    padding: 3vw;
    border-radius:30px;
    border: 5px solid rgb(27, 27, 94);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.content div input{
    margin: 10px;
    width: 70%;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 2vh;
    color: rgb(6, 27, 98);
    
}
.title h2{
    padding: 20px;
    font-size: 5vh;
}
.input label{
    font-size: 3vh;
}
.content div button{
    margin: 10px;
    width: 70%;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 2vh;
    color: rgb(6, 27, 98);
    transition: 0.6s;
}
 div button:hover{
    cursor: pointer;
    background-color: rgb(6, 27, 98);
    color: white;
}
a{
    text-decoration: none;
    color: rgb(6, 27, 98);
    transition: 0.5s;
}
a:hover{
   color: black;
   cursor: pointer;
   background-color: antiquewhite;
   padding: 4px;
   border-radius: 20px;
 
}